<h1>Editar Cliente</h1>

<%= form_with(model: @cliente, local: true) do |form| %>
  <% if @cliente.errors.any? %>
    <div class="alert alert-danger">
      <h4>Erro(s):</h4>
      <ul>
        <% @cliente.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :nome %>
    <%= form.text_field :nome, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :sobrenome %>
    <%= form.text_field :sobrenome, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :email %>
    <%= form.email_field :email, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :telefone %>
    <%= form.text_field :telefone, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :endereco %>
    <%= form.text_field :endereco, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :cpf %>
    <%= form.text_field :cpf, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.submit 'Atualizar Cliente', class: 'btn btn-primary' %>
  </div>
<% end %>

<%= link_to 'Voltar', request.referer || clientes_path, class: 'btn btn-secondary' %>